.ds-modal-backdrop {
  padding: var(--spacing-page);
}

.save-view-modal {
  width: 480px;
}

.save-view-modal__body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: 0 var(--spacing-lg) var(--spacing-lg);
  overflow-y: auto;

  .ds-label { align-self: flex-start; }
}

.save-view-modal__help-text {
  font-family: var(--ref-typescale-body-medium-font);
  font-size: var(--ref-typescale-body-medium-size);
  font-weight: var(--ref-typescale-body-medium-weight);
  line-height: var(--ref-typescale-body-medium-line-height);
  color: var(--color-text-primary);
  margin: 0;
}


.save-view-modal__actions {
  justify-content: flex-end !important;
  gap: var(--spacing-sm) !important;
}
